SERVER_PORT=9099

# DATABASE
DB_URL=jdbc:mysql://localhost:3306/techshop?useSSL=false&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=123

# MAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=uteshop.st@gmail.com
MAIL_PASSWORD=qdhq livh ixvv wzqk

#JWT
JWT_SECRET_KEY=04407a02d36556657adb1514dabc84c683249687435df38acd76c8214b6ba956
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000